<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script type="text/css" src="{% static 'css/prism-htmx.css' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <h3 style="align:center">
            Search Contacts
            <span class="htmx-indicator">
                <img src="{% static 'bars.svg' %}" /> Searching...
            </span>
        </h3><br>
        <form action="">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="search" placeholder="Begin Typing To Search Users..." hx-get="{% url 'search' %}" hx-trigger="keyup changed delay:500ms" hx-target="#search-results" hx-indicator=".htmx-indicator">
            </div>
            <br>
        </form>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            {% if clients %}
            {% for client in clients %}
            <tbody id="search-results">
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.email}}</td>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
</body>
<script type="text/javascript" src="{% static 'htmx.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>